# App Configuration
APP_NAME=yukino-chatbot
APP_HOST=0.0.0.0
APP_PORT=8088

# Redis Configuration
REDIS_ENABLED=true
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=pass
REDIS_DB=0

# MySQL Configuration
MYSQL_PORT=3306
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=pass
MYSQL_DB=yukino_chatbot
MYSQL_CHARSET=utf8mb4

# JWT Configuration
JWT_EXPIRE_DURATION=8760
JWT_ISSUER=yukino-chatbot
JWT_SUBJECT=yukino-chatbot
JWT_KEY=yukino-chatbot

# RAG Configuration
DOCS_DIR=./docs
EMBEDDING_MODEL=nomic-embed-text
EMBEDDING_BASE_URL=""
EMBEDDING_API_KEY=""

# AI Configuration
OPENAI_MODE_NAME=qwen3
OPENAI_BASE_URL=""
OPENAI_API_KEY=""
